**/*~
**/*.pyc
**/._*
build/
dist/
basenji.egg-info/
*/__pycache__/
.DS_Store
*/.DS_Store
*/._.DS_Store
**/.ipynb_checkpoints/
data/hg19.fa*
*.bak
*.ini
single_output/acc.txt
single_output/checkpoint
single_output/ckpt-231.index
single_output/ckpt-231.data-00000-of-00001
single_output/model_check.h5
single_output/model_best.h5
single_output/params.json
single_output/preds.h5
single_output/targets.h5
